﻿@model IEnumerable<string>
<script src="~/Scripts/FizzBuzz/FizzBuzz.js"></script>
<div ng-controller="fizzBuzzCtrl" class="jumbotron main-box">
	<div class="row" ng-hide="isSearching">
		<div class="row">
			<div class="col-md-2 col-md-offset-5">
				<input ng-model="input" ng-change="updateFizzBuzz(input)" style="line-height:0;" />
			</div>
		</div>
        
		<p>
			<ol>
				<li ng-repeat="val in result track by $index" class="btn btn-default"
					ng-class="{'btn-primary': val=='Fizz','btn-success': val=='Buzz','btn-info': val=='Fizz Buzz'}">{{val}}</li>
			</ol>
		</p>
	</div>
</div>
