﻿<!DOCTYPE html>

<html>
	<head>
		<title>Fizz Buzz</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="~/Content/site.css" rel="stylesheet" />
		<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

		<script src="~/Scripts/angular.min.js"></script>
		<script src="~/Scripts/ui-bootstrap-0.10.0.min.js"></script>
	</head>
	<body ng-app role="document">
        <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("FizzBuzz", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
		<div class="container" role="main">
			  @RenderBody()
            <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - FizzBuzz By Prateek</p>
        </footer>
		</div>
	</body>
</html>